[Unit]
Description=NodeJS server, NextJS public frontend for eid site
After=network.target

[Service]
Type=simple
User=nextjs
Group=nextjs
Restart=on-failure
RestartSec=10
WorkingDirectory=/opt/nextjs/next-eid
ExecStart=node server.js
Environment="PORT=3000"

[Install]
WantedBy=multi-user.target