.header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
}

.title {
  font-weight: 500;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  height: 26px;
}
