.footer {
  background-color: #111e3c;
  color: rgb(220, 220, 220);
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topContent {
  padding: 64px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomContent {
  border-top: 1px solid rgb(57, 61, 94);
  padding: 24px 0;
}
